<% if @comments.present? %>
  <h4 class="comment_index">#コメント一覧</h4>
    <% @comments.each do |comment| %>
      <p class="comment-parent">
        <strong><%= link_to comment.user.nickname, "#", class:"comment", id:"comment_names" %>：</strong>
        <div class="comment", id="comment_texts"><%= comment.text%></div>
      </p>
      <% if current_user == comment.user %>
        <ul class="comment-choices hidden" id="pull-down">
          <div class="comment-delete" id ="comment_delete">
            <%= link_to "削除",drink_path(@drink, @comment), method: :delete, class:"comment-destroy", remote: true, data: {confirm: "本当に削除しますか？"} %>
          </div>
        </ul>
      <% end %>
    <% end %>
<% end %>