<%= render 'shared/second_header' %>

  <div class='post-contents'>
    <h2 class='title'>＃CHEERS</h2>
    <div class="subtitle" >
      乾杯が削除されました
    </div>
    <div class='login-btn'>
      <%= link_to root_path do %>
      <button class="back-btn">#CHEERSへ戻る</button>
      <% end %> 
    </div> 
  </div>
<%= render 'shared/footer' %>