<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    みんなに自分のお酒をシェアしよう！
  </p>
  <h2 class='ad-footer-title'>
    いますぐ乾杯
  </h2>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='albeva-details'>
      <h2 class='footer-content-head'>"アルベバ"について</h2>
    </div>
    <div class='albeva-details'>
      <h2 class='footer-content-head'>CHEERSを見る</h2>
    </div>
    <div class='albeva-details'>
      <h2 class='footer-content-head'>乾杯について</h2>
    </div>
  </div>
  <p><%= link_to "albeva", class:"footer-link"%></p>
</div>