.login-btn {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.login-color-btn {
  width: 100%;
  background-color: rgb(15, 13, 77);
  border: 3px solid black;
  color: rgba(232, 215, 215, 0.9);
  text-shadow: 0 0 5px rgba(6, 81, 255, 0.9);
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
}

.new-login-btn {
  width: 100%;
  background-color: rgb(15, 13, 77);
  border: 1px solid black;
  color: rgba(232, 215, 215, 0.9);
  text-shadow: 0 0 5px rgba(6, 81, 255, 0.9);
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  padding: 15px 100px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  background-color: rgb(15, 13, 77);
  color: rgba(232, 215, 215, 0.9);
  text-shadow: 0 0 5px rgba(6, 81, 255, 0.9);
}

.form-text {
  color: rgb(15, 13, 77);
  text-shadow: 0 0 5px rgba(55, 28, 28, 0.9);
}